[Unit]
Description=Home Monitor - Get Temperature
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=root
WorkingDirectory=/home/nonno/src/home-monitor/get-temperature
ExecStart=/usr/bin/python3 /home/nonno/src/home-monitor/get-temperature/main.py
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
